h1 {
    text-align: center;
    color: black;
}

/* button {
    border-radius: 25px;
    margin: 50px;
    height: 100px;
    width: 250px;
    font-size: 50px;
} */

.button {
    /* padding: 20px; */
    border-radius: 15px;
    margin: 50px;
    height: 100px;
    width: 250px;
    font-size: 20px;
    background-color: rgb(227, 88, 41);
}

.img {
    width: 50vh;
    margin: auto;
    display: inline-block;
}

.vertical-center {
    margin-left: 100px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.minor1 {
    margin: 0;
    border-radius: 7px;
    height: 100px;
    width: 250px;
    background-color: rgb(227, 88, 41);
    color: red;
    padding: 45px;
    font-size: 40px;
}