body {
    background-color: #181D27;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    height: 100%;
    /* overflow: hidden; */
}

p {
    font-size: 0.9vw;
}

h1 {
    text-align: center;
    margin: 1.5vw;
    font-size: 2.3vw;
    font-weight: bolder;
}

h1.campus {
    font-size: 1.5vw;
}

h3 {
    text-align: left;
    margin: 1.5vw;
    font-size: 1.7vw;
    font-weight: bold;
}

table {
    font-size: 0.6vw;
}

table thead {
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
}



.tableContainer{
    background-color: #8595de;
    border-radius: 10px;
    height: 75vh;
    margin: 0vh 10vh 0vh 10vh;
    overflow: scroll;
    overflow: hidden;
}

.p5Container {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    overflow: hidden;
}

#MinorDescription {
    position: absolute; 
}

#MinorDescription p {
    color: white;
    font-size: 2vw;
}

#MinorDescription h1 {
    text-align: center;
    margin: 1.5vw;
    font-size: 2.3vw;
    font-weight: bolder;
}

#MinorTags {
  position: absolute;
  bottom:1em;
}

#MinorTags p {
    display:inline;
    position: relative;
    color: black;
    text-align: center;
    font-size: 1em;
    border-radius: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#MinorTags p:hover {
    color: white;
}

#MinorTags p + p {
    margin-left: 0.2em;
}

.img {
    margin: auto;
    display: inline-block;
}

.img-fluid {
    max-width: 80%;
    height: auto;
}

.title {
    margin-top: -5vh;
    padding: 1.5vw;
    overflow: hidden;
    border-radius: 15px;
    /* height: 100%; */
}

.leaflet-container {
    position: relative;
    top: 30px;
    margin: auto; 
    /* 100%; 50%; */
    width: 40vw;
    height: 75vh;
    z-index: 1;
    border-radius: 15px;
}

.leaflet-expanded {
    position: relative;
    top: 30px;
    margin: auto; 
    /* 100%; 50%; */
    width: 40vw;
    height: 20vh;
    z-index: 1;
    border-radius: 15px;
}

.info {
    width: 40vw;
    height: 100%;
}

#detail {
    position: relative;
    margin: auto; 
    top: -5.5vh;
    width: 40vw;
    height: 15vh;
    z-index: 2;
    border-radius: 15px;
    background-color: #ffffff;
    color: #5e6caa;
    transition: 0.5s;
}

#detail.expanded {
    position: relative;
    margin: auto; 
    top: -40.5vh;
    width: 40vw;
    height: 50vh;
    z-index: 2;
    border-radius: 15px;
    background-color: #ffffff;
    color: #5e6caa;
}

/* Looking to implement this: https://stackoverflow.com/questions/49517309/how-to-slide-or-hide-a-div-with-transition-in-react */

/* .slider {
    position: relative;
    width: 40vw;
    height: 70vw;
    top: 0;
    overflow: hidden;
    background-color: #ffffff; color: #181D27;
    transition: all 1s;
}
  
.slider.close {
    top: 100%;
    height: 0;
} */

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-slider {
    margin: auto;
    /* background-color: #5e6caa; */
    width: 8vw;
}

.btn {
    color: white;
    background-color: #5e6caa;
    font-size: 30px;
    font-weight: bold;
    border-radius: 7px;
}

.btn-layout {
    padding: 25px;
    /* margin-left: 10px; */
}

.btn:hover {
    color: #5e6caa;
    background-color: #d2d7ee;
}

/* https://www.geeksforgeeks.org/how-to-add-a-pressed-effect-on-button-click-in-css/ */
.btn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}